<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="colonel.com.shumei">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".Self1Activity"></activity>
        <activity android:name=".Self2Activity"></activity>
        <activity android:name=".Self2AddActivity"></activity>
        <activity android:name=".Self3Activity"></activity>
        <activity android:name=".Self4Activity"></activity>
        <activity android:name=".Self5Activity"></activity>
        <activity android:name=".Service1Activity"></activity>
        <activity android:name=".Service2Activity"></activity>
        <activity android:name=".Service3Activity"></activity>
        <activity android:name=".Info1Activity"></activity>
        <activity android:name=".Info1MoreActivity"></activity>
        <activity android:name=".Info2Activity"></activity>
        <activity android:name=".Info3Activity"></activity>

    </application>

</manifest>